<li>
  <a href="#download">下载Bootstrap</a>
  <ul class="nav">
    <li><a href="#download-compiled">编译 CSS, JS, and fonts</a></li>
    <li><a href="#download-additional">其他下载</a></li>
    <li><a href="#download-cdn">Bootstrap CDN</a></li>
  </ul>
</li>
<li>
  <a href="#whats-included">包括什么</a>
</li>
<li>
  <a href="#template">基本模板</a>
</li>
<li>
  <a href="#examples">实例</a>
</li>
<li>
  <a href="#disable-responsive">禁用响应</a>
</li>
<li>
  <a href="#migration">从2.x 迁移 3.0</a>
  <ul class="nav">
    <li><a href="#migration-classes">主要类别变化</a></li>
    <li><a href="#migration-new">有什么新</a></li>
    <li><a href="#migration-dropped">内容删除</a></li>
    <li><a href="#migration-notes">其他注意事项</a></li>
  </ul>
</li>
<li>
  <a href="#browsers">浏览器支持</a>
</li>
<li>
  <a href="#third-parties">第三方支持</a>
</li>
<li>
  <a href="#accessibility">无障碍</a>
</li>
<li>
  <a href="#license-faqs">许可证 FAQs</a>
</li>
<li>
  <a href="#customizing">自定义 Bootstrap</a>
</li>
