<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">切换导航</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{ page.base_url }}" class="navbar-brand">Bootstrap</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li{% if page.slug == "getting-started" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}getting-started">入门</a>
        </li>
        <li{% if page.slug == "css" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}css">CSS</a>
        </li>
        <li{% if page.slug == "components" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}components">组件</a>
        </li>
        <li{% if page.slug == "js" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}javascript">JavaScript</a>
        </li>
        <li{% if page.slug == "customize" %} class="active"{% endif %}>
          <a href="{{ page.base_url }}customize">自定义</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
